<p>Super Rentals Representatives would love to help you choose a destination or answer any questions you may have</p>

<p>Contact us today:</p>

<p>
    Super Rentals HQ
    <address>
    1212 Test Address Avenue<br>
    Testington, OR 97233
    </address>
</p>

<p><a href="tel:503.555.1212">(503)555-1212</a></p>

<p><a href="mailto:superrentalsrep@superrentals.com">superrentalsrep@superrentals.com</a></p>

{{#link-to "about"}}About{{/link-to}}